
<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-12">
      <h1>TalentMatch</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>DasId</th>
            <th>SkillsIds</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates"> 
            <td>{{candidate.id}}</td>
            <td>{{candidate.candidateName}}</td>
            <td>{{candidate.email}}</td>
            <td>{{candidate.dasId}}</td>
            <td>{{candidate.skillsIds}}</td>
          </tr>
        </tbody>
        @if (candidates.length == 0) {
          <tr>
            <td colspan="5">No users</td>
          </tr>
        }
      </table>
    </div>
  </div>
</div>