
<div class="container">
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-md-12">
      <h1>TalentMatch</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Users</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>DasId</th>
            <th>Skills</th>
          </tr>
        </thead>
        <tbody>
          @if (candidates.length === 0) {
            <tr>
              <td colspan="5">No users</td>
            </tr>
          }
          @for (candidate of candidates; track candidate.id) {
            <tr>
              <td>{{candidate.id}}</td>
              <td>{{candidate.candidateName}}</td>
              <td>{{candidate.email}}</td>
              <td>{{candidate.dasId}}</td>
              <td>
                  @for (skill of candidate.skills; track skill.id) {
                  {{skill.skillName}} 
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>